:root{
  /*Appearance*/
  --primary-color: #00796b;
  --secondary-color: #005379;
  --body-text-color: #333;
  --background-color: #f4f4f4;
  --link-color-h1: #2c84f7;
  --link-hover-color-h1: #705af1;
  /* Text */
  --font-family: Arial, Helvetica, sans-serif;
  --font-size: 16px;
  /* Layout */

}

/* 
プレフィックス	意味
o-	Object（オブジェクト）：再利用可能な構造（パーツ）
p-	Page（ページ）：そのページ特有のスタイル
c-	Component：個別のUI部品（ボタンなど）
u-	Utility：ヘルパー系クラス（余白、色など）
is- / has-	状態管理（State）：JSで切り替える状態を表す
*/

/* base : body, html, aタグの共通ルールなど */
html{
  font-size: var(--font-size);
  font-family: var(--font-family);
}

body{
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--body-text-color);
  text-align: left;
}
a{
  color: var(--link-color-h1);
  text-decoration: none;
}
a:hover{
  color: var(--link-hover-color-h1);
}

h1 {
  font-size: 2rem;
  line-height: 1.4;
  color: var(--primary-color);
}

h2 {
  font-size: 1.5rem;
  line-height: 1.4;
  color: var(--secondary-color);
}

h3 {
  font-size: 1.2rem;
  line-height: 1.4;
  color: var(--secondary-color);
}

/* layout: ヘッダー、フッター、グリッド構造 */
.o-navbar{
  background-color: #f4f4f4;
  color: var(--primary-color);
  border-bottom: #b0b0b097 solid 1px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 8px;
  padding-left: 8px;
}
.o-navbar.is-sticky{
  position: sticky;
  top: 0;
  z-index: 1000;
}
.o-navbar__titleLogo{
  width: 70px;
  height: 70px;
}
.o-navbar__navList{
  width: 300px;
  justify-content: space-between;
  display: flex;
  margin-right: 30px;
  margin-left: 30px;
  align-items: center;
  list-style: none;
}
.o-navbar__menuButton {
  display: none;
  background: none;
  font-size: 24px;
  border: none;
  cursor: pointer;
}

@media (max-width: 640px) {
  .o-navbar__navList {
    display: none;
    width: 160px;
    flex-direction: column; /* ← ここ大事！縦並び */
    position: absolute;     /* ← ナビの下に浮かせて配置 */
    right: 0;
    top: 100%;              /* 親要素(navbar)の下に配置 */
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
    gap: 1rem;              /* 項目間の余白 */
    z-index: 100;           /* 上に出す */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    font-size: 1.2rem;
  }

  .o-navbar__menuButton {
    display: block; /* ハンバーガー表示 */
  }

  .o-navbar__navList.active {
    display: flex; /* ボタンが押されたときだけ表示 */
  }
}

.p-article{
  position: relative;
  background-color: var(--background-color);
  color: var(--body-text-color);
  max-width: 1200px;
}

.p-article__articleWrapper{
  display: flex;
  max-width: 640px;
  margin: 0 auto;
  padding: 0 8px;
}
.p-article__body{
  display: flex;
}

.o-tableOfContents{
  padding: 16px;
}
.o-tableOfContents__title{
  font-size: 1.5rem;
  line-height: 1.4;
  color: var(--primary-color);
}
.o-tableOfContents__list{
  list-style: none;
  padding: 0;
  margin: 0;
}
.o-tableOfContents__more{
  margin-top: 8px;
}
/* components: ボタン、カード、モーダルなど再利用可能な部品 */

.o-tag__tag{
  background-color: rgba(245, 245, 245, 0.707);
}